<div class="dashboard-container" layout="column" layout-align="center center">

    <div class="entry-list-container" flex="90">
        <header>
            <div class="title">Entries</div>
            <md-button class="md-fab"
                       aria-label="Add new entry"
                    ng-click="DashCtrl.openEntryModal($event)">
                <md-icon md-svg-src="img/add.svg"></md-icon>
            </md-button>
        </header>
    </div>

    <div class="graph" flex="90">

    </div>

</div>