<div class="entry-list-item" layout="row" layout-align="space-between center"
     ng-class="{'positive-value': entry.value > 0, 'negative-value': entry.value < 0}">

    <div>
        <span class="name">{{entry.name}}</span> |
        <span class="category">{{entry.category.name || '_no category_'}}</span> |
        <span>{{entry.date | date:'dd-MM-yyyy'}}</span>
    </div>
    <div>
        <span>{{entry.value | currency}}</span>
        <md-button ng-click="edit($event)">
            <md-icon md-svg-src="img/edit.svg"></md-icon>
            <md-tooltip>Edit entry: {{entry.name}}</md-tooltip>
        </md-button>
        <md-button ng-click="delete($event)">
            <md-icon md-svg-src="img/delete.svg"></md-icon>
            <md-tooltip>Remove entry: {{entry.name}}</md-tooltip>
        </md-button>
    </div>

</div>