<md-card class="card-container login-container" flex="50">

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Login</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>

        <form name="LoginForm" layout="column" layout-align="center center">

            <md-input-container>
                <label>Username</label>
                <input name="username" ng-model="LoginCtrl.user.username" required ng-focus="LoginCtrl.changed=true">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input name="password" ng-model="LoginCtrl.user.password" type="password" required ng-focus="LoginCtrl.changed=true">
            </md-input-container>

            <div class="error-msgs" ng-show="LoginCtrl.errorMsg && !LoginCtrl.changed">
                <span>{{LoginCtrl.errorMsg}}</span>
            </div>

        </form>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button href="#/signup">Signup</md-button>
        <md-button class="md-primary" ng-click="LoginCtrl.login()" ng-disabled="LoginForm.$invalid">Login</md-button>
    </md-card-actions>

</md-card>