@import 'normalize';

$light-gray-color: #F3F3F3;

#app-header {
  background-color: #4C4C4C;
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 21px;
  padding: 0 20px;
}

.card-container {

  background-color: $light-gray-color;
  margin: 50px auto;

  &.login-container {
    md-input-container {
      width: 350px;
    }
  }

  &.signup-container {
    md-input-container {
      width: 400px;
    }
  }

}

.entry-dialog {
  width: 600px;
  md-dialog-content {
    padding: 20px;
  }
  .entry-name-container {
    md-input-container {
      width: 460px;
    }
  }
  .entry-value-container {
    &.positive-value {
      input {
        color: darkgreen;
      }
      .md-button {
        background-color: #E3FFCA;
      }
      md-icon {
        color: darkgreen;
      }
    }
    &.negative-value {
      input {
        color: darkred;
      }
      .md-button {
        background-color: #FFCACA;
      }
      md-icon {
        color: darkred;
      }
    }
  }
  md-input-container {
    width: 400px;
  }

}